<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <style>
      .message {
        font-size: 1.3em;
        font-weight: bold;
      }
      .hint {
        font-size: small;
        padding-bottom: 1em;
      }
      .border {
        border: solid;
      }

      .border-success {
        border-color: green;
      }

      .border-danger {
        border-color: #a94442;
      }
    </style>
  </head>
  <body ng-app="LunchCheck">
    <div ng-controller="LunchCheckController" class="container">
      <h1>Lunch Checker</h1>

      <div class="form-group">
        <input
          ng-model="lunch"
          id="lunch-menu"
          type="text"
          placeholder="list comma separated dishes you usually have for lunch"
          class="form-control {{border_class}}"
        />
      </div>
      <div class="hint">(empty items, such as ' ', are not counted)</div>
      <div class="form-group">
        <button ng-click="check()" class="btn btn-default">
          Check If Too Much
        </button>
      </div>
      <div class="form-group message {{message_class}}">
        {{message}}
      </div>
    </div>
  </body>
</html>
